            <div class="container-fluid">
                <div class="card shadow mb-4">
                                <!-- Card Header - Accordion -->
                                <div class="d-block card-header py-3" aria-expanded="true" aria-controls="collapseCardExample">
                                    <h6 class="m-0 font-weight-bold text-primary">judul</h6>
                                </div>
                                <!-- Card Content - Collapse -->
                                <div class="collapse show" id="collapseCardExample">
                                    <div class="card-body"><img src="file:///C|/Users/EDP211/Pictures/1.png" width="1366" height="768" alt=""/>
                                    konten
                                    </div>
                                </div>
                </div>
                
            </div>

                <!-- End of Main Content -->

                <!-- Footer -->